<!--<app-home></app-home>-->
<router-outlet></router-outlet>
<div class="col-lg-12 footer-custom">
  <div style="background-color: #2864DA;">
    <div class="row">
      <div class="col-lg-6 position-relative">
        <a href="#" [routerLink]="['/home']">
          <mat-icon class="position-absolute top-0 start-50"
                    style="color: white; font-size: 4em;">watch_later</mat-icon>
        </a>
      </div>
      <div class="col-lg-6 position-relative">
        <a href="#" [routerLink]="['/record']">
          <mat-icon style="color: white; font-size: 4em; padding-left: 40%;">today</mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
